@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}
h2, p, label {
  font-family: "Noto Sans KR";

}
button {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

h1 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.todoForm {
  background-color: rgb(20, 181, 20);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}
.todoForm label {
  white-space: nowrap;
  color: #fff;
}
.todoForm input {
  padding: 10px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
}
.todoForm button {
  margin-left: auto;
  width: 150px;
  height: 30px;
  border: none;
  background-color: rgb(76, 99, 45);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.wrap {
  max-width: 1200px;
  min-width: 800px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 50px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.todoCard {
  gap: 10px;
  width: 250px;
  min-height: 150px;
  /* border: 1px solid black; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(237, 237, 237);
}
.todoTitle {
  font-weight: 600;
  font-size: 20px;
}
.btnBox {
  margin-top: auto;
  display: flex;
  gap: 10px;
}
.btnBox button {
  width: 50%;
  border-radius: 10px;
  height: 30px;
  color: white;
}
.btnBox .todoDelBtn {
  background-color:  rgb(220, 89, 19);
}
.btnBox .todoIsDoneBtn {
  background-color: green;
}